:root {
    --card-icon-width: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter', sans-serif;
    background-color: #eeeeee;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

i {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease;

}

i:hover {
    color: white;
}

button {
    color: white;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    border: 2px solid black;
    padding: 12px 20px;
    font-size: 1.05rem;
    font-weight: 500;
    transition: all .1s ease;
}


button:hover {
    background-color: black;
    /* border: none; */
    color: white;
}

p {
    font-size: 1rem;
}

header {
    background-color: rgb(255, 247, 192);
    padding: 25px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;

}



/* ! Old Cards */

/* .cardContainer {
    display: none !important;
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
    height: 80px;
    transition: .15s ease all;
}

.card>p {
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border-right: 2px solid black;
}


.card>h2 {
    width: 550px;
    text-align: start;
    text-transform: capitalize;
}

.card>a {
    text-decoration: none;
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border-left: 2px solid black;
    transition: all .1s ease;
}



.card>a:hover {
    background-color: black;
    color: white;
}

.card:hover {
    background-color: #fff7c0;
} */



a:focus,
a:visited {
    color: black;
    text-decoration: none;

}



#web_main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}




/* New */
.heroSection {
    position: relative;
    width: 98%;
    height: 450px;


    background-image: url('https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
    padding: min(5%, 80px);
    display: flex;
    align-items: end;
    justify-content: start;
    overflow: hidden;
}

.heroSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

#welcomeHeading {
    font-family: "Manrope", sans-serif;
    text-align: center;
    /* font-size: 65px; */
    font-size: clamp(38px, 5vw, 65px);
    font-weight: 500;
    text-transform: capitalize;
    color: white;
    z-index: 9;


}

.wrapper {
    max-width: 1200px;

}

#websiteProjects {
    display: grid;
    padding: 0 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.newCard {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border: 1px solid #f3f4f6;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.078);
}

.newCard .coverImage {
    aspect-ratio: 16 / 9;
    width: 100%;
    overflow: hidden;
}

.newCard .coverImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px 20px 20px;
}

.cardContent h4 {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .01em;
    line-height: 1.25em;
}

.cardContent p {
    font-size: 1rem;
    line-height: 1.5em;
    color: #909092;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardContent .tools {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardContent .tools h6 {
    font-size: 14px;
    font-weight: 600;
    color: #909092;

}


.cardContent .tools ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style-type: none;
}

.cardContent .tools ul li {
    width: var(--card-icon-width);

}

.cardContent .tools ul li img {
    width: 100%;
    height: var(--card-icon-width);
}

.buttonContainer {
    margin-top: 20px;
    width: 100%;
}

.buttonContainer button {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: black;
    cursor: pointer;
}

.buttonContainer button a {
    font-family: 'Inter', serif;
    color: white;
    text-decoration: none;

}

.buttonContainer button:hover {
    transform: scale(.95);
}

@media (max-width: 500px) {
    .heroSection {
        height: 300px;
    }

    #websiteProjects {
        padding: 20px, 10px;
    }

    #web_main {
        gap: 40px;
    }

}