* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f2efe7;
    width: 100vw;
    height: 100vh;
}

i {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease;

}

i:hover {
    color: white;
}

button {
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 1rem;
    transition: all .1s ease;
}


button:hover {
    background-color: black;
    /* border: none; */
    color: white;
}

p {
    font-size: 1rem;
}

header {
    background-color: rgb(255, 247, 192);
    padding: 25px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;

}

#welcomeHeading {
    margin-top: 50px;
    text-align: center;

}

.cardContainer {
    display: none !important;
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
    height: 80px;
    transition: .15s ease all;
}

.card>p {
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border-right: 2px solid black;
}


.card>h2 {
    width: 550px;
    text-align: start;
    text-transform: capitalize;
}

.card>a {
    text-decoration: none;
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border-left: 2px solid black;
    transition: all .1s ease;
}



.card>a:hover {
    background-color: black;
    color: white;
}

.card:hover {
    background-color: #fff7c0;
}



a:focus,
a:visited {
    color: black;
    text-decoration: none;

}



#web_main {
    padding: 80px 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 40px;
}

#websiteProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}