* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: roboto, poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
}

.mainContainer {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    justify-content: center;
}

form {
    background-color: rgba(255, 255, 255, .125);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 0 0 0;
}

input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    padding: 0 0 0 10px;
}

.error {
    padding-bottom: 4px;
    color: rgb(236, 85, 85);
}

button[type=submit] {
    color: #282c34;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 20px;
    padding: 12px 0;
    transition: all .2s ease;
    border-radius: 5px;
    background-color: rgb(178, 254, 62);
    border: none;
}

button[type=submit]:hover {
    transition: all .2s ease;
    background-color: #21242b;
    color: white;
}

#formStatus {
    text-align: start;
    width: 100%;
}

#heading {
    text-transform: capitalize;
    width: 100%;
    text-align: center;
}